body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#graph-container {
  width: 800px;
  height: 600px;
  border: 1px solid #8eb4de;
  margin-bottom: 5px;
}

.controls, #edgeData, #dijkstraTables {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: .8em;
}

.node-id-text {
  /* pointer-events: none; */
  cursor: default;
}

#dijkstraTables {
    display: flex;
}
.map-table {
    width: 100px;
    border-collapse: collapse;
    margin-right: 10px;
}
.map-table th, .map-table td {
    border: 1px solid black;
    width: 50%;
    text-align: center;
}
